.place__url-heading {
  margin: 0 0 12px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
}

@media (max-width: 606px) {

  .place__url-heading {
    font-size: 2vw;
    line-height: 2vw;
  }
}

@media (max-width: 606px) {

  .place__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}
