.place__website {
  margin: 0;
  grid-area: place__website;
  align-self: end;
}

@media (max-width: 518px) {

  .place__website {
    align-self: start;
  }
}

@media (max-width: 320px) {

  .place__website {
    margin-left: 16px;
    align-self: flex-start;
  }
}
